{% for repo in item.value %}
[{{ repo.name }}]
name = {{ repo.description }}
{% if repo.get('url') %}baseurl = {{ repo.url }}
{% endif -%}
{% if repo.get('mirror') %}mirrorlist = {{ repo.mirror }}
{% endif -%}
{% if repo.get('meta') %}metalink = {{ repo.meta }}
{% endif -%}
{% if repo.get('gpg') %}
gpgkey = {{ repo.gpg | local.sys.to_list | join("\n         ") }}
{% endif %}
{% if repo.options is defined %}
{% for key, value in repo.options.items() %}
{{ key }} = {{ value }}
{% endfor %}
{% endif %}

{% endfor %}
